.containerPrincipal {
    width: 800px;
}

.formData {
    background-color: rgb(0, 0, 0);
    color: rgb(240, 236, 19);
    border-radius: 10px;
}

.header {
    font-weight: bolder;
    font-family: "Lucida Console", monospace;
}

.tamanhoHeaderImg {
    height: 100px;
    width: 300px;
}

.btnConfirma {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 255, 0);
    background-color: black;
    font-weight: bold;
    margin-top: 20px;
}