.bg {
    background-color: black;
    color: aliceblue;
}

.header {
    font-weight: bolder;
    font-family: "Lucida Console", monospace;
}

.borda{
    border: 1px solid red;
}

.carrinho {
    height: 100pxpx;
    background-color: transparent;
}

.cards {
    margin: 10px;
    border-radius: 50%;
}

.botaoCarrinho {
    width: 25px;
    display: inline;
}

.quantidadeCarrinho {
    display: inline;
    width: 40px;
}

.tamanhoImagem {
    height: 20em;
}

/* CARD */

.card {
	width: 200px;
	height: 250px;
	perspective: 800px;
}
.card__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.card:hover .card__inner {
	transform: rotateY(180deg);
}
.card__body {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	backface-visibility: hidden;
	border-radius: 8px;
	box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.card__body--front {
	background-image: radial-gradient(
		circle 248px at center,
		#16d9e3 0%,#30c7ec 47%,
		#46aef7 100%
	);
}
.card__body--back {
	background-color: black;
	transform: rotateY(180deg);
}
  